- if flash[:notice]
  #notice
    = flash[:notice]
%form{:action=>"/session",:method=>"post", :id=>"login_form"}
  = text_field :login, :email, :size => 20
  %br
  = password_field :login, :password, :size => 20
  %br
  = submit_tag "Log in"
