// /* reqs
@import reset.css
@import reset-fonts.css
// end reqs */

// /*  COLORS  */


!black = #000
!dark_grey = #333
!medium_grey = #666
!light_grey = #999999

!green = #669966
!light_green = #99CC99

!blue = #006699
!turquoise = #339999

!magenta = #990000

!tan = #F7F7E7
!flat_gold = #999966

// /* TYPE	*/
!main_font = Verdana
!main_font_size = 11px

body
  :font-family = !main_font
  :font-size = !main_font_size
  :margin-left 50px
  :margin-top 20px
  

#utility_menu
  :position absolute
  :width 120px
  :left 650px
  :top 25px
  :color = !light_grey
  :font = !main_font
  a
    :text-decoration none
    :color = !dark_grey
    &:hover
      :color #FFF
      :text-decoration none
      :background-color = !dark_grey
    &:visited
      :text-decoration underline

#task_lists
  
  // The Big Table
  
  :left 20px
  :top 150px
  a
    :color = !blue
    :text-decoration underline
    &:hover
      :text-decoration none
      :background-color = !black
    &:visited
      :text-decoration underline

  td, th
    :padding 5px

  #task_list_commands
    :text-align right
    :margin-right 5px
    a
      :color = !blue
      :text-decoration underline
      &:hover
        :color #FFF
        :text-decoration none
        :background-color = !blue
      &:visited
        :text-decoriation underline
        
  .grand_total
    :background-color = !turquoise
    :color #FFF




  // List

  th.title
    :color = !black
    :background-color = !tan

  th.new_task
    :text-align right
    :background-color = !tan
    a
      :color = !blue
      &:hover
        :text-decoration none
        :background-color = !blue
        :color #FFF
      &:visited
        :text-decoration underline
  
  .total 
  .duration
    :color = !medium_grey
  .earnings
    :color = !black


  // Task

  .task
    :font = !main_font
    :size = !main_font_size
    & > td
      :border-top 1px solid #EEE
    & > .external
      :border-top none
    a
      :text-decoration underline
      &:hover
        :color #FFF
        :text-decoration none
        :background-color = !green
      &:visited
        :text-decoration underline

  td.status
    :height 20px
    
  .completed
    :color = !light_grey

  .start
    a
      :color = !dark_grey
      &:hover
        :color #FFF
        :text-decoration none
        :background-color = !green
      &:visited
        :text-decoration underline

#stop_task 
  a
    :font-weight italic
    :color = !magenta
    &:hover
      :color #FFF
      :text-decoration none
      :background-color = !magenta
    &:visited
      :text-decoration underline

.description

.rate
  :color = !medium_grey

.earnings
  :color = !black

.fade
  :color = !light_grey

.duration
  :color = !medium_grey

.active
  :color = !green
  .description
    :font-weight bold

// Temp by ruy
// feel free to remove them entirely - just needed some reasonable default widths to work with

input[name='task[rate]']
  :width 50px
input[name='task[description]']
  :width 150px
input[type='text']
  :border 1px solid #ccc
  :padding 2pxi