/* COLORS */
/* TYPE */
#user_bar_container {
  position: absolute;
  left: 750px;
  top: 18px; }

#user_bar {
  color: #999999; }

#user_bar a {
  text-decoration: none;
  color: #333333; }
  #user_bar a:hover {
    text-decoration: underline;
    background-color: #000000; }
  #user_bar a:visited {
    text-decoration: underline; }

.new_task_list a {
  color: #006699;
  text-decoration: underline; }
  .new_task_list a:hover {
    text-decoration: none;
    background-color: #000000; }
  .new_task_list a:visited {
    text-decoration: underline; }

/* List ----- */





/* Tasks -------------------- */
#task_container li {
  font: Verdana, Helvetica, Arial, sans-serif;
  size: 2em; }
  #task_container li a {
    text-decoration: underline; }
    #task_container li a:hover {
      text-decoration: none; }
    #task_container li a:visited {
      text-decoration: underline; }

.check_box {
  float: left; }

.task_start {
  color: #333333; }










/* Grand Totals -------------------- */


