%form{:action=>"/tasks",:method=>"post", :id=>"task_form"}
  %table#task_lists.task_lists.controller{:cellspacing=>0,:cellpadding=>0}
    %tfoot
      %tr
        %td.external
        %td{:colspan=>3}
        %td.grand_total
          Total:
        %td.grand_total
          = @task_lists.sum(&:earnings).to_money.format(:accurate)
        %td.grand_total
    %tbody
      %tr
        %td.external
        %td#task_list_commands{:colspan=>6}
          = link_to "New task list", new_task_list_url, :class=>"new_task_list command"
      = render :partial=>"task_lists/edit", :object=>TaskList.new
      = render :partial=>@task_lists
