!!! Strict
%html
  %head
    %title Trailz!!1
    = stylesheet_link_tag("application")
  %body{:class=>page_class}
    #utility_menu
      = link_to "Settings", "settings"
      |
      = link_to "Sign out", "signout"
    = yield
